<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'command_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="command-device_id-<%%VALUE(command_id)%%>" class="command-device_id text-right"><%%SELECT%%><%%VALUE(device_id)%%><%%ENDSELECT%%></td>
		<td id="command-user-<%%VALUE(command_id)%%>" class="command-user "><%%SELECT%%><%%VALUE(user)%%><%%ENDSELECT%%></td>
		<td id="command-timestamp-<%%VALUE(command_id)%%>" class="command-timestamp "><%%SELECT%%><%%VALUE(timestamp)%%><%%ENDSELECT%%></td>
		<td id="command-value-<%%VALUE(command_id)%%>" class="command-value text-right"><%%SELECT%%><%%VALUE(value)%%><%%ENDSELECT%%></td>
		<td id="command-execute_on-<%%VALUE(command_id)%%>" class="command-execute_on "><%%SELECT%%><%%VALUE(execute_on)%%><%%ENDSELECT%%></td>
		<td id="command-executed-<%%VALUE(command_id)%%>" class="command-executed text-right"><%%SELECT%%><%%VALUE(executed)%%><%%ENDSELECT%%></td>
