<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="command-device_id-<%%VALUE(command_id)%%>" class="text-right"><%%VALUE(device_id)%%></td>
		<td id="command-user-<%%VALUE(command_id)%%>" class=""><%%VALUE(user)%%></td>
		<td id="command-timestamp-<%%VALUE(command_id)%%>" class=""><%%VALUE(timestamp)%%></td>
		<td id="command-value-<%%VALUE(command_id)%%>" class="text-right"><%%VALUE(value)%%></td>
		<td id="command-execute_on-<%%VALUE(command_id)%%>" class=""><%%VALUE(execute_on)%%></td>
		<td id="command-executed-<%%VALUE(command_id)%%>" class="text-right"><%%VALUE(executed)%%></td>
