<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="device-device_id-<%%VALUE(device_id)%%>" class="text-right"><%%VALUE(device_id)%%></td>
		<td id="device-name-<%%VALUE(device_id)%%>" class=""><%%VALUE(name)%%></td>
