<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'device_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="device-device_id-<%%VALUE(device_id)%%>" class="device-device_id text-right"><%%SELECT%%><%%VALUE(device_id)%%><%%ENDSELECT%%></td>
		<td id="device-name-<%%VALUE(device_id)%%>" class="device-name "><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></td>
